In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
from sklearn.tree import DecisionTreeRegressor

In [14]:
path1 = '/Users/hsiaoyuhsien/Desktop/XANES_Capstone/mu10000.csv'
path2 = '/Users/hsiaoyuhsien/Desktop/XANES_Capstone/sys10000.csv'
path3 = '/Users/hsiaoyuhsien/Desktop/XANES_Capstone/weights10000.csv'

In [16]:
mu_10000 = pd.read_csv(path1)
sys_10000 = pd.read_csv(path2)
weights_10000 = pd.read_csv(path3)

In [17]:
mu_10000. head()

,CN,Mu1,Mu2,Mu3,Mu4,Mu5,Mu6,Mu7,Mu8,Mu9,...,Mu91,Mu92,Mu93,Mu94,Mu95,Mu96,Mu97,Mu98,Mu99,Mu100
0,9.118123,0.031128,0.033685,0.036141,0.038614,0.041223,0.044086,0.047322,0.051048,0.055384,...,1.006451,1.006826,1.007279,1.007820,1.008459,1.009209,1.010079,1.011081,1.012226,1.013524
1,9.982105,0.030359,0.032863,0.035257,0.037652,0.040162,0.042900,0.045978,0.049510,0.053607,...,0.990334,0.992630,0.995239,0.998179,1.001467,1.005122,1.009162,1.013604,1.018468,1.023769
2,9.999510,0.030369,0.032855,0.035236,0.037623,0.040127,0.042859,0.045930,0.049452,0.053537,...,0.994056,0.996536,0.999312,1.002392,1.005782,1.009490,1.013522,1.017886,1.022590,1.027639
3,9.739154,0.030461,0.032974,0.035378,0.037786,0.040312,0.043069,0.046171,0.049731,0.053863,...,1.001889,1.002645,1.003574,1.004699,1.006045,1.007635,1.009494,1.011643,1.014109,1.016913
4,9.736296,0.030375,0.032841,0.035208,0.037585,0.040085,0.042817,0.045893,0.049424,0.053520,...,0.997625,0.998350,0.999261,1.000406,1.001833,1.003589,1.005722,1.008281,1.011312,1.014864

In [18]:
sys_10000 .head()

,System1,System2,System3,System4,System5,System6,System7,System8,System9,System10,System11,System12,System13,System14,System15,System16,System17,System18,System19,System20
0,Cu2.8Te2-24173-R3/Cu1_97,Cu1.5Te-629332-R2/Cu1_2_242,Cu2.83Te2-orthor-53355-R3/Cu2_82,Cu2.83Te2-orthor-53355-R2/Cu1_84,Cu1.5Te-629332-R2/Cu2_96,Cu1.5Te-629332-R2/Cu2_365,Cu2.8Te2-24173-R3/Cu2_365,Cu2.8Te2-24173-R1/Cu1_2_399,Cu1.5Te-629332-R2/Cu1_2_95,Cu1.5Te-629332-R3/Cu1.0,Cu1.5Te-629332-R1/Cu2_2_82,Cu2.8Te2-24173-R2/Cu1_84,Cu2.8Te2-24173-R3/Cu2_102,Cu2.8Te2-24173-R1/Cu1_2_82,Cu2.8Te2-24173-R2/Cu1_2_101,Cu2.8Te2-24173-R3/Cu1_84,Cu1.5Te-629332-R3/Cu2_2_242,Cu2.83Te2-orthor-53355-R3/Cu2_400,NaN,NaN
1,Cu2.8Te2-24173-full/Cu1_2_82,Cu2.8Te2-24173-R1/Cu1_2_392,Cu1.5Te-629332-R3/Cu2_2_242,Cu2.8Te2-24173-R3/Cu1_2_393,Cu2.8Te2-24173-R1/Cu2_2_82,Cu2.83Te2-orthor-53355-R1/Cu1_97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cu1.5Te-629332-R2/Cu1_2_392,Cu2.83Te2-orthor-53355-R2/Cu2_2_91,Cu2.8Te2-24173-R1/Cu1_2_392,Cu1.5Te-629332-R3/Cu1_2_101,Cu1.5Te-629332-R1/Cu1_97,Cu1.5Te-629332-R1/Cu1_2_95,Cu2.8Te2-24173-R2/Cu1_97,Cu1.5Te-629332-R3/Cu1_120,Cu1.5Te-629332-R1/Cu1_2_393,Cu2.83Te2-orthor-53355-R3/Cu1_97,Cu2.8Te2-24173-R3/Cu1_2_399,Cu2.83Te2-orthor-53355-full/Cu2_2_82,Cu1.5Te-629332-R1/Cu1_2_386,Cu1.5Te-629332-R3/Cu1_2_386,Cu2.8Te2-24173-R3/Cu1_2_118,Cu1.5Te-629332-R1/Cu1_120,NaN,NaN,NaN,NaN
3,Cu1.5Te-629332-R2/Cu2_2_388,Cu1.5Te-629332-R3/Cu1_2_82,Cu1.5Te-629332-R1/Cu1_2_392,Cu2.8Te2-24173-R1/Cu2_119,Cu1.5Te-629332-R1/Cu1_2_393,Cu2.83Te2-orthor-53355-R2/Cu2_2_382,Cu2.8Te2-24173-R2/Cu2_96,Cu2.83Te2-orthor-53355-R1/Cu2_2_82,Cu1.5Te-629332-R1/Cu2_2_388,Cu1.5Te-629332-R3/Cu1_2_392,Cu2.83Te2-orthor-53355-R1/Cu2_2_382,Cu2.83Te2-orthor-53355-R1/Cu1_2_399,Cu2.8Te2-24173-R2/Cu1_2_95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cu2.83Te2-orthor-53355-R2/Cu1_97,Cu2.83Te2-orthor-53355-R1/Cu1_2_101,Cu2.8Te2-24173-R2/Cu1_120,Cu2.83Te2-orthor-53355-R2/Cu1_243,Cu2.8Te2-24173-R2/Cu1_84,Cu1.5Te-629332-R1/Cu2_102,Cu2.83Te2-orthor-53355-full/Cu1_2_82,Cu2.83Te2-orthor-53355-R2/Cu2_102,Cu2.8Te2-24173-R1/Cu1_2_393,Cu1.5Te-629332-R1/Cu2_2_242,Cu2.83Te2-orthor-53355-R3/Cu1_97,Cu2.83Te2-orthor-53355-R1/Cu1_2_392,Cu2.83Te2-orthor-53355-R1/Cu1_84,Cu2.8Te2-24173-R2/Cu1_2_392,Cu2.83Te2-orthor-53355-R2/Cu1_2_399,Cu2.8Te2-24173-R3/Cu2_365,Cu1.5Te-629332-R1/Cu2_2_243,Cu2.83Te2-orthor-53355-full/Cu2_2_82,Cu1.5Te-629332-R2/Cu2_365,NaN

In [19]:
weights_10000.head()

,Weight1,Weight2,Weight3,Weight4,Weight5,Weight6,Weight7,Weight8,Weight9,Weight10,Weight11,Weight12,Weight13,Weight14,Weight15,Weight16,Weight17,Weight18,Weight19,Weight20
0,0.044654,0.025838,0.080342,0.088725,0.030740,0.044720,0.052248,0.019688,0.060096,0.047018,0.056361,0.109653,0.176001,0.001534,0.058268,0.029885,0.025244,0.048985,NaN,NaN
1,0.101681,0.107341,0.182297,0.038824,0.000136,0.569721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.064795,0.186086,0.039334,0.023024,0.131081,0.019475,0.042353,0.073003,0.058974,0.107427,0.064895,0.004273,0.060908,0.099844,0.006822,0.017707,NaN,NaN,NaN,NaN
3,0.031365,0.120012,0.052166,0.236185,0.200066,0.072245,0.021334,0.040621,0.012777,0.019184,0.035878,0.024215,0.133952,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.003311,0.003750,0.034490,0.026169,0.062927,0.009405,0.004291,0.035523,0.000877,0.010566,0.077872,0.303394,0.036703,0.052989,0.005605,0.113491,0.037187,0.135775,0.045675,NaN

In [10]:
x = mu_10000.loc[:,]
y = mu_10000['CN']